<!doctype html>
<html lang="en" ng-app="geoTweetApp">
	<head>
		<title>GeoTweet</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<script src="javascripts/geoTweetApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css"> 


	</head>

	<body>
		<div class="container-fluid">
			<div ng-view></div>
		</div>
	</body>
</html>